@model Epica.Web.Operacion.Models.Request.DocumentosClienteRegistro

<form asp-controller="Clientes" asp-action="CargarDocumento" id="CargaDocumentoForm" method="post" enctype="multipart/form-data">

    <input asp-for="idCliente" hidden class="form-control form-control-sm form-control-solid" id="idCliente" readonly value="@Model.idCliente" type="text" autocomplete="off" />

    <div class="modal-body">
        <div class="d-flex flex-stack row">
            <div class="row mb-5 mt-5">
                <div class="form-group input-group-sm col-md-12 row">
                    <label class="col-md-3 form-label required">Documento: &nbsp;</label>
                    <div class="col-md-9">
                        <select asp-for="tipoDocumento" id="tipoDocumento" class="form-select form-select-sm  form-select-solid" data-placeholder="Seleccione una opción" required>
                            <option></option>
                            @foreach (var Roles in Model.listaDocs)
                            {
                                <option value="@Roles.Id">@Roles.Descripcion</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

@*         <div class="d-flex flex-stack row">
            <div class="row mb-5 mt-5">
                <div class="form-group input-group-sm col-md-12 row">
                    <label class="col-md-3 form-label required">Observaciones: &nbsp;</label>
                    <div class="col-md-9">
                        <div class="fv-row">
                            <input asp-for="Observaciones" class="form-control form-control-sm form-control-solid" id="ApellidoPaterno" type="text" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div> *@

        <div class="d-flex flex-stack row">
            <div class="row mb-5 mt-5">
                <div class="form-group input-group-sm col-md-12 row">
                    <label class="col-md-3 form-label required">Archivo: &nbsp;</label>
                    <div class="col-md-9">
                        <div class="fv-row">
                            <input asp-for="documento" hidden class="form-control form-control-sm form-control-solid" id="documento" type="file" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


