################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Epica.Web.Operacion/.vs/Epica.Web.Operacion
/Epica.Web.Operacion/Epica.Web.Operacion/bin/Debug/net7.0
/Epica.Web.Operacion/Epica.Web.Operacion/obj
/Epica.Web.Operacion/.vs/ProjectEvaluation
/Epica.Api.Operacion/.vs/Epica.Api.Operacion
/Epica.Api.Operacion/Epica.Api.Operacion/obj
/Epica.Api.Operacion/Epica.Api.Operacion/bin/Debug/net7.0
