@*@model Epica.Web.Operacion.Models.Response.UsuariosVinculadosResponse
<div class="dropdown dropdown-inline">
    <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2 btnDesasignar" data-id="@Model.IdUser" data-cliente="@Model.IdUser" title="Desvincular Cuenta del Cliente">
        <i class="bi bi-trash"></i>
    </button>
</div>
*@