@model Epica.Web.Operacion.Models.Response.UsuariosVinculadosResponse
<div class="dropdown dropdown-inline">
    <a href="javascript:;" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots"></i>
    </a>
    <ul class="dropdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-150px py-4">
        <li class="menu-item px-3">
            @if (Model.validarpermiso == true)
            {
                <a class="menu-link px-3" onclick="DesAsignarRol(@Model.IdUser)" data-id="@Model.IdUser" data-cliente="@Model.IdUser" title="Desvincular Rol de Usuario">
                    <i class="bi bi-trash"></i>&nbsp;
                    Desvincular
                </a>
            }
        </li>
    </ul>
</div>
