@{
    ViewData["Title"] = "Documentos de Usuario";
    ViewData["Nombre"] = ViewBag.Nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section LogoPage{
    <i class="bi bi-card fs-1 w-40px"></i>
}
@section breadcrumb{
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-muted">
        Usuarios
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-gray-400 w-5px h-2px"></span>
    </li>
    <li class="breadcrumb-item text-muted">
        Documentos Cargados del Usuario
    </li>
}

<div class="col-md-12">
    <div class="card card-flush h-lg-100">
        <div class="card-header border-0 pt-6">
            <div class="card-title">
                <div class="d-flex align-items-center position-relative my-1">
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                        <i class="bi bi-person-bounding-box"></i>&nbsp; @ViewData["Nombre"]
                    </h1>
                </div>
            </div>
            <div class="card-toolbar">
                <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                    <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                        <a asp-action="Index" asp-controller="Usuarios" class="btn btn-sm btn-danger me-3">
                            <i class="bi bi-arrow-left"></i>&nbsp;Regresar
                        </a>

                        <button type="button" class="btn btn-sm btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                            <i class="bi bi-cloud-download"></i>&nbsp;Descargar Todos los Documentos                
                        </button>

                        <button type="button" class="btn btn-sm btn-light-warning me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                            <i class="bi bi-cloud-upload"></i>&nbsp;Cargar Nuevo Documento
                        </button>
                        <div id="kt_datatable_buttons" class="d-none"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-body pt-5">
            <div class="bottom-buffer">
                <div class="datatable datatable-bordered datatable-head-custom">
                    <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_datatable_doc">
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="newTransaccionModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Crear Transacción</h3>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-1"></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="px-7 py-5">
                    <div class="mb-5">
                        <label class="form-label fs-5 fw-semibold mb-3">Clave de Rastreo:</label>
                        <input class="form-control form-control-sm fw-bold crear-control" data-crear="claveRastreo" placeholder="Clave de Rastreo" id="create_clave_rastreo" />
                    </div>
                    <div class="mb-5">
                        <label class="form-label fs-5 fw-semibold mb-3">Nombre de la cuenta:</label>
                        <input class="form-control form-control-sm fw-bold crear-control" data-crear="nombreCuenta" placeholder="Nombre de la cuenta" id="create_nombre_cuenta" />
                    </div>
                    <div class="mb-5">
                        <label class="form-label fs-5 fw-semibold mb-3">Institución:</label>
                        <input class="form-control form-control-sm fw-bold crear-control" data-crear="institucion" placeholder="Institución" id="create_institucion" />
                    </div>
                    <div class="mb-5">
                        <label class="form-label fs-5 fw-semibold mb-3">Monto:</label>
                        <input class="form-control form-control-sm fw-bold crear-control" data-crear="monto" placeholder="Monto" id="create_monto" />
                    </div>
                    <div class="mb-5">
                        <label class="form-label fs-5 fw-semibold mb-3">Concepto:</label>
                        <input class="form-control form-control-sm fw-bold crear-control" data-crear="concepto" placeholder="Concepto" id="create_concepto" />
                    </div>
                    <div class="mb-5">
                        <label class="form-label fs-5 fw-semibold mb-3">Medio de Pago:</label>
                        <input class="form-control form-control-sm fw-bold crear-control" data-crear="medioPago" placeholder="Medio de Pago" id="create_medio_pago" />
                    </div>
                    <div class="mb-5">
                        <label class="form-label fs-5 fw-semibold mb-3">Tipo:</label>
                        <input class="form-control form-control-sm fw-bold crear-control" data-crear="tipo" placeholder="Tipo" id="create_tipo" />
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="btnCerrarCuenta">Cerrar</button>
                <button type="button" class="btn btn-light-primary" id="GuardarTransaccion">Guardar Transacción</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Usuarios/epica.usuarios.documentos.js" asp-append-version="true"></script>
    <script>
        var AccountId = '@ViewBag.AccountID';
    </script>
}
