@model Epica.Web.Operacion.Models.Request.RegistrarTransaccionRequest

<form asp-controller="Transacciones" asp-action="RegistrarTransaccion" id="TransaccionForm" method="post">
    <div class="d-flex flex-stack row">
        <div class="row mb-5 mt-5">
            <div class="form-group input-group-sm col-md-12 row">
                <label class="col-md-3 form-label required">Nombre de Persona Ordenante: &nbsp;</label>
                <div class="col-md-9">
                    <input asp-for="NombreOrdenante" class="form-control form-control-sm form-control-solid" id="NombreOrdenante" readonly value="@Model.NombreOrdenante" type="text" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-stack row">
        <div class="row mb-5 mt-5">
            <div class="form-group input-group-sm col-md-12 row">
                <label class="col-md-3 form-label required">Número de Cuenta Ordenante: &nbsp;</label>
                <div class="col-md-9">
                    <input asp-for="NoCuentaOrdenante" class="form-control form-control-sm form-control-solid" id="NoCuentaOrdenante" readonly value="@Model.NoCuentaOrdenante" type="text" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-stack row">
        <div class="row mb-5 mt-5">
            <div class="form-group input-group-sm col-md-12 row">
                <label class="col-md-3 form-label required">Número de Cuenta Beneficiario: &nbsp;</label>
                <div class="col-md-9">
                    <input asp-for="NoCuentaBeneficiario" class="form-control form-control-sm form-control-solid" id="NoCuentaBeneficiario" type="text" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-stack row">
        <div class="row mb-5 mt-5">
            <div class="form-group input-group-sm col-md-12 row">
                <label class="col-md-3 form-label">Nombre del Beneficiario: &nbsp;</label>
                <div class="col-md-9">
                    <input asp-for="NombreBeneficiario" class="form-control form-control-sm form-control-solid" id="NombreBeneficiario" type="text" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-stack row">
        <div class="row mb-5 mt-5">
            <div class="form-group input-group-sm col-md-12 row">
                <label class="col-md-3 form-label">Concepto: &nbsp;</label>
                <div class="col-md-9">
                    <input asp-for="Concepto" class="form-control form-control-sm form-control-solid" id="Concepto" type="text" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
</form>
