@model Epica.Web.Operacion.Models.Response.CuentasResponse
<div class="dropdown dropdown-inline">
    <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2 btnDetalle" data-id="@Model.noCuenta" data-estatus="@Model.estatus" title="Detalles de Cuenta">
        <i class="bi bi-question-circle"></i>
    </button>
</div>
